.racer_table td {
  height: 60px;
  width: 60px;
}
.racer_table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1_race td.active {
  background-image: url("images/player_1.png");
  background-position: center;
}
#player2_race td.active {
  background-image: url("images/racecar.png");
  background-position: center;
}

#finishline1 {
  background-image: url('images/finish.jpg');
  background-size: cover;
}

#finishline2 {
  background-image: url('images/finish.jpg');
  background-size: cover;
}

td {
  background-color: #D0D0D0;
}

#player2_race {
  border-top: 5pt dashed white;
}
